html,
body {
  margin: 0px;
  padding: 0px;
  height: 100%;
  width: 100%;
}

div#homicide-plugin-wrapper {
  width: 100%;
  height: 100%;
  margin: 0px auto;
}

div#row-wrapper,
div#bio-wrapper,
div#results-wrapper {
  height: 100%;
}

div#row-wrapper {
  margin: 0px;
}

div#bio-wrapper,
div#results-wrapper {
  margin: 0px 2%;
}

div#homicide-plugin-wrapper div.container {
  margin: 0px;
  width: 100%;
  max-width: 100%;
  height: 100%;
}

div#homicide-victims {
  height: 90%;
}

div#bio-wrapper {
  height: 100%;
}

div#homicide-victims,
div#bio-wrapper {
  overflow-y: scroll;
  overflow-x: hidden;
}

div#homicide-victims::-webkit-scrollbar,
div#bio-wrapper::-webkit-scrollbar {
  display: none;
}

div#current-photo-container {
  display: block;
  float: none;
}

div#current-homicide-photo {
  width: 150px;
  height: 150px;
  background-size: cover;
  background-position: center;
  background-color: #333;
  margin: 25px auto;
}

h1#current-homicide-name {
  font-size: 1.75em;
  line-height: .8em;
  margin: 0px 0px 10px 0px;
}

h1#current-homicide-name,
span#current-homicide-summary {
  vertical-align: top;
}

span#current-homicide-summary {
  margin-bottom: 10px;
  display: block;
  height: 150px;
  display: block;
  overflow-y: scroll;
}

div.homicide-tag {
  background-color: #333;
  color: #fff;
  padding: 5px 10px;
  box-sizing: border-box;
  white-space: nowrap;
  position: relative;
}

div#search-homicides-wrapper {
  height: 45px;
}

div#search-homicides-wrapper div.col-4 {
  position: relative;
  height: 25px;
}

div#search-homicides-wrapper div div.homicide-search {
  width: 100%;
  position: absolute;
}

div.search-dropdown-content {
  margin-left: -10px;
  margin-top: 5px;
  position: absolute;
  z-index: 9999;
  background-color: #777;
  width: 100%;
  display: none;
  margin-bottom: 25px;
}

div.search-dropdown-content ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

div.search-dropdown-content ul li {
  overflow: hidden;
  white-space: nowrap;
  padding: 5px 10px;
}

div.search-dropdown-content ul li:hover {
  background-color: #333;
}

div.search-dropdown-content ul li {
  color: #fff;
}

div.homicide-tag:hover div.search-dropdown-content {
  display: block;
}

div.bio-tag {
  display: inline-block;
  margin-right: 10px;
  font-size: 0.9em;
  margin-bottom: 15px;
}

div.homicide-tag i {
  color: #fff;
  margin-right: 10px;
}

div#homicide-bio-section {
  min-height: 350px;
  text-align: center;
}

div#homicide-map {
  width: 100%;
  background-size: cover;
  height: 250px;
  background-position: center center;
}

div.victim-image {
  background-color: #333;
  height: 75px;
  width: 100%;
  max-width: 75px;
  margin: 0px auto;
  background-size: cover;
  background-position: center center;
  border: thick solid white;
}

div.victim-image:hover,
div.timeline-arrow:hover {
  opacity: 0.75;
  cursor: pointer;
}

div.homicide-search:hover {
  cursor: pointer;
}

div#timeline-wrapper {
  width: 100%;
  height: 50px;
  border: solid thin #333;
  white-space: nowrap;
}

div.timeline-arrow {
  height: 50px;
  width: 100%;
  font-size: 2em;
  display: inline-block;
  background-color: #333;
  color: #fff;
  text-align: center;
  margin: 0px;
  line-height: 50px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

div#timeline-right {
  float: right;
}

div#the-timeline {
  width: 100%;
  height: 25px;
  border-bottom: solid thin #333;
}

div.timeline-date {
  display: inline-block;
  width: 25%;
  text-align: center;
  font-size: 0.75em;
}

div.timeline-dot-container {
  display: inline-block;
  width: 25%;
  height: 100%;
  text-align: left;
  position: relative;
  margin-left: -2px;
}

div.timeline-dot {
  width: 10px;
  height: 10px;
  background-color: black;
  border-radius: 5px;
  position: absolute;
  display: inline-block;
  margin-top: 20px;
  z-index: 9;
}

div.timeline-dot:hover {
  cursor: pointer;
}

div#color-guide {
  text-align: center;
  font-size: 0.75em;
  width: 100%;
}

div#color-guide * {
  float: none;
  vertical-align: top;
}

div#color-guide div.color-guide-color {
  margin: .5rem 0px;
}

div#color-guide span {
  display: inline-block;
  margin: 4px 15px 0px 5px;
}

div.color-guide-color {
  background-color: #333;
  height: 10px;
  width: 10px;
  display: inline-block;
  border-radius: 5px;
  margin: 10px 0px 0px 0px;
}

div#color-red {
  background-color: red;
}

div#color-green {
  background-color: #0F0;
}